div(ng:show='$ctrl.step == "code"')
    div.row
        div.col-sm-6
            textarea.form-control(ng:model='$ctrl.code', ui-codemirror='{lineWrapping: true, lineNumbers: true}')
            div.code-hint
                | Paste your code here
                img.code-arrow(src='/static/img/curved-arrow.png')
        div.col-md-6
            div
                button.btn.btn-theme(ng:repeat='theme in ["fruity", "monokai", "solarized", "solarized256", "tango", "vs"]', uib-btn-radio='theme', ng:model='$ctrl.theme')
                    img(src='/static/img/themes/{{theme}}.png')

            div.theme-hint
                | Choose colors &
                img.theme-arrow(src='/static/img/rotated-arrow.png')
            div.language-hint
                | select the language
                img.language-arrow(src='/static/img/rotated-arrow.png')

            ui-select.language-input(ng:model='$ctrl.language')
                ui-select-match
                    span(ng:bind="$select.selected")
                ui-select-choices(repeat="x in ($ctrl.languages|filter: $select.search)")
                    span(ng:bind="x")
        </ui-select>

    br

    div.text-center
        button.btn.btn-primary.btn-lg(ng:click='$ctrl.goToStep("style")')
            | Proceed


div(ng:show='$ctrl.step == "style"')
    div.row
        div.col-sm-6
            .photo-card
                div.label.label1 003728543
                div.label.label2 INSTACO.DE 107MM
                div.label.loading(ng:if='$ctrl.spoilVisible') HOLD ON, WE'RE WORKING ON IT
                img
                img.spoil(
                    ng:repeat='i in [0,1,2]'
                    ng:if='$ctrl.spoilVisible',
                    ng:src='/static/img/spoil{{i}}.jpeg',
                    ng:style='{opacity: $ctrl.spoilOpacity[i]}'
                )
                img.rot90.spoil(
                    ng:repeat='i in [0,1,2]'
                    ng:if='$ctrl.spoilVisible',
                    ng:src='/static/img/spoil{{i}}.jpeg',
                    ng:style='{opacity: $ctrl.spoilOpacity[i]}'
                )
                input.form-control(ng:model='$ctrl.title', placeholder='Optional title')
        div.col-sm-6

    button.btn.btn-default(ng:click='$ctrl.goToStep("code")')
        i.fa.fa-arrow-left
        | &nbsp; Previous step

    div.btn-group.pull-right(ng:if='!me')
        button.btn.btn-primary(ng:click='$ctrl.publishAndLogin()')
            i.fa.fa-github
            | &nbsp; Login and publish
        button.btn.btn-default(ng:click='$ctrl.publish()')
            | Publish anonymously
    button.btn.btn-primary(ng:click='$ctrl.publish()', ng:if='me')
        | Publish
